<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="NLog" version="4.7.7" targetFramework="net452" />
  <package id="Node.js" version="5.3.0" targetFramework="net452" />
  <package id="NUnit" version="4.2.2" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.18.3" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net452" />
  <package id="RestSharp" version="106.5.4" targetFramework="net452" />
  <package id="RestSharp.Newtonsoft.Json" version="1.5.1" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net452" />
  <package id="Selenium.Support" version="4.26.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="4.26.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="131.0.6778.6900" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="4.11.0" targetFramework="net452" />
  <package id="SpecFlow" version="3.9.74" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="3.9.74" targetFramework="net452" />
</packages>